@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: #24252a;
   
}
h1, h2 {
    color: #fff;
    font-weight: bold;
}
p{
    color: white;

}
li, a{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}
button{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:35px 10%;
}
.logo{
    cursor: pointer;
}
.menu .links{
    list-style: none;
    margin-left: 150px;
   
    
}
.menu .links li{
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    
    
}
.menu .links li a{
    transition: all 0.3s ease 0s;
    font-size: 20px;
    
}
.menu .links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container h1{
    margin-top: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: bold;
}
.container p{
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    line-height: 1.5;
    

}
.container ul{
    margin-top: 60px;
    font-size: 16px

}
.container li{
    font-size: 16px;
    margin-top: 5px;
}

